

#root {
  width: 100%; 
  height: 100%;     
  max-width: none;  
  padding: 0;      
  margin: 0;       
}


.half-container {
  display: flex;  
  width: 100%;
  height: 100px;
 
}

.first-box {
  background-color: #f0f8ff; 
  width:100%;
  height: 100%
  
}


.second-box {
  background-color: #fff0f5; 
  width:100%;
 height: 100%;
 flex: 1;



}

.third-box{
  background-color: aquamarine;
    width:100%;
    height: 100%;
    flex: 1;

}